* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ffffff;
}

/* window#waybar.hidden { */
/*     opacity: 0.2; */
/* } */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition-duration: 150ms;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    color: #fdba74;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 7px;
    margin-right: 4px;
}

#workspaces button:hover {
    background: #475569;
}

#workspaces button.active {
    background-color: #334155;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

.modules-left {
    background-color: #0f172a;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
}

.modules-center {
    background-color: #0f172a;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
}

.modules-right {
    background-color: #0f172a;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
}

#clock {
    background-color: transparent;
}

#battery {
    padding-right: 15px;
    background-color: transparent;
    color: #a5f3fc;
}

#battery.charging, #battery.plugged {
    color: #86efac;
}

@keyframes blink {
    from {
        background-color: rgba(220, 38, 38, 0.0);
    }
    to {
        background-color: rgba(220, 38, 38, 0.3);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #f87171;
    border-radius: 7px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    background-color: transparent;
}

#power-profiles-daemon.performance {
    color: #fdba74;
}

#power-profiles-daemon.balanced {
    color: #e9d5ff;
}

#power-profiles-daemon.power-saver {
    color: #6ee7b7;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #99f6e4;
}

#cpu:hover {
    color: #5eead4;
}

#memory {
    background-color: transparent;
    color: #f5d0fe;
}

#memory:hover {
    color: #f0abfc;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: transparent;
    color: #c7d2fe;
}

#backlight:hover {
    color: #a5b4fc;
}

#network {
    background-color: transparent;
    color: #bae6fd;
}

#network:hover {
    color: #7dd3fc;
}

#network.disconnected {
    color: #fca5a5;
}

#pulseaudio {
    background-color: transparent;
    color: #fed7aa;
}

#pulseaudio.muted {
    color: #fca5a5;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: transparent;
    color: #fecdd3;
}

#temperature.critical {
    color: #f87171;
    animation-name: blink;
    border-radius: 7px;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
