@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

.background {
  background: none;
}

tooltip.background {
  border: 1px solid @surface1;
  background-color: @mantle;
  border-radius: 10px;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 1px;
}

button:hover {
  background: @surface0;
}

#waybar > box {
  background-color: @mantle;
  color: @text;
  border-radius: 10px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  font-family: Material Symbols Rounded;
  font-weight: 900;
  font-size: 14px;
  background: none;
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  color: @text;
  padding-right: 7px;
}

#workspaces button.empty {
  color: @surface0;
}

#workspaces button.active {
  font-family: Material Symbols Rounded Filled;
  color: @text;
}

#battery {
  font-family: Material Symbols Rounded Filled;
  font-size: 20px;
  color: @green;
  border-radius: 50%;
}

#backlight {
  font-family: Material Symbols Rounded Filled;
  font-size: 15px;
  color: @sky;
  border-radius: 50%;
}

#custom-spacer {
  padding-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: @surface1;
}

#wireplumber {
  color: @yellow;
  font-family: Material Symbols Rounded Filled;
  font-size: 20px;
}

#bluetooth {
  color: @blue;
  font-family: Material Symbols Rounded Filled;
  font-size: 20px;
}

#power-profiles-daemon {
  color: @maroon;
  font-family: Material Symbols Rounded Filled;
  font-size: 20px;
}

#idle_inhibitor {
  color: @mauve;
  font-family: Material Symbols Rounded Filled;
  font-size: 16px;
}

#custom-power {
  font-family: Material Symbols Rounded Filled;
  font-size: 20px;
}

#tray > * {
    background: none;
}
