@define-color black #0e1013;
@define-color bg0 #1f2329;
@define-color bg1 #282c34;
@define-color bg2 #30363f;
@define-color bg3 #323641;
@define-color bg_d #181b20;
@define-color bg_blue #61afef;
@define-color bg_yellow #e8c88c;
@define-color fg #a0a8b7;
@define-color purple #bf68d9;
@define-color green #8ebd6b;
@define-color orange #cc9057;
@define-color blue #4fa6ed;
@define-color yellow #e2b86b;
@define-color cyan #48b0bd;
@define-color red #e55561;
@define-color grey #535965;
@define-color light_grey #7a818e;
@define-color dark_cyan #266269;
@define-color dark_red #8b3434;
@define-color dark_yellow #835d1a;
@define-color dark_purple #7e3992;
@define-color diff_add #272e23;
@define-color diff_delete #2d2223;
@define-color diff_change #172a3a;
@define-color diff_text #274964;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    color: lighter(lighter(@fg));
}

#waybar {
    background-color: transparent;
    border-bottom: transparent;
}

.modules-left {
    padding-left: 4px;
}

.modules-right {
    padding-right: 4px;
}

.module {
    background-color: @bg0;
    border-radius: 7px;
    border: 1px solid darker(darker(@fg));
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 1px 8px;
}

#idle_inhibitor, #power-profiles-daemon {
    padding-right: 14px;
}

#idle_inhibitor.activated {
}

#battery, #backlight, #pulseaudio, #custom-power {
    padding-right: 11px;
}

#battery.discharging {
    padding-right: 14px;
}

#workspaces {
    padding: 2px; 
    padding-right: 0px;
}

#workspaces button {
    padding: 0 4px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 2px;
}

#workspaces button.active {
    background-color: lighter(lighter(@bg1));
}

#workspaces button:hover {
    background: lighter(lighter(@bg3));
}

#workspaces button.urgent {
    background-color: @dark_red;
}

#battery {
    border-color: darker(@green);
}

#battery.plugged {
    color: mix(lighter(@green), lighter(lighter(@fg)), 0.5);
}

#battery.charging {
    color: lighter(@green);
}

#battery.critical:not(.charging) {
    border-color: @dark_red;
    background: mix(@dark_red, @bg0, 0.6);
    color: lighter(@red);
}

#backlight {
    border-color: darker(@orange);
}

#bluetooth {
    border-color: darker(@blue);
}

#custom-power {
    border-color: darker(@blue);
}

#tray {
    border-color: darker(@purple);
}

#pulseaudio {
    border-color: darker(@yellow);
}

#pulseaudio.muted {
    padding-right: 7px;
}

#idle_inhibitor {
    border-color: darker(@cyan);
}

#idle_inhibitor.activated {
    background: lighter(@bg3);
    padding-right: 13px;
    padding-left: 9px;
}

#power-profiles-daemon {
    border-color: darker(@red);
}

tooltip {
    background-color: alpha(@bg0, .95);
    border-radius: 7px;
    border: 1px solid darker(darker(@fg));
}
