[Unit]
Description=Waybar status bar
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bar
Restart=always
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
